[submodule "third-party/netcore"]
	path = third-party/netcore
	url = https://github.com/rainboyOJ/netcore
[submodule "third-party/cppjson"]
	path = third-party/cppjson
	url = https://github.com/rainboyOJ/cppjson
[submodule "third-party/sqlpoolcpp"]
	path = third-party/sqlpoolcpp
	url = https://github.com/rainboyOJ/sqlpoolcpp
[submodule "third-party/judgercpp"]
	path = third-party/judgercpp
	url = https://github.com/rainboyOJ/judgercpp
[submodule "third-party/redisConnectPool"]
	path = third-party/redisConnectPool
	url = https://github.com/rainboyOJ/redisConnectPool
[submodule "third-party/modern_cpp"]
	path = third-party/modern_cpp
	url = https://github.com/rainboyOJ/modern_cppdb
[submodule "third-party/modern_cppdb"]
	path = third-party/modern_cppdb
	url = https://github.com/rainboyOJ/modern_cppdb
